; Configuration File - Dark engine Mod Manager 1.1.1
application.createLogFile 1
application.showTooltips 1
application.showExtractTip 1
application.version 1.1.1
game.modsPathSuffix
game.modsPathPrefix
game.baseMoviePath .\movies
game.executableFile Thief.exe
game.installConfigFile install.cfg
game.modsFolder MODS
game.archivesFolder DMMArchives
game.dataOverrideSubfolder Thief1